/*---------------------------
  Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto:300,400,500,700');
/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/


p {
  color: #333;
  line-height: 25px;
  font-size:16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: #282e3f;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
a:focus {
  outline: none;
}
.section-padding {
  padding: 100px 0;
}

@media (max-width: 991px) {
  .section-padding {
    padding: 90px 0;
  }
}

@media (max-width: 767px) {
  .section-padding {
    padding: 80px 0;
  }
}
/*** back to top **/
.back-to-top {
  background-color: #ffd634;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: none;
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: 15px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

@media (max-width: 991px) {
  .back-to-top {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

.back-to-top:hover {
  background-color: #31b5e1;
}

.back-to-top i {
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*===================================
0.6 about-area start
=====================================*/
.about-area{
  padding: 100px 0;
}
.about-content .about-icon i{
  color:#34ccff;
}
.about-content h2{
  font-size: 30px;
  font-weight: 700;
  position: relative;
  padding-bottom:8px;
  margin-bottom: 30px;
}
.about-content h2:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height:5px;
  background:#34ccff; 
}
.sec-p{
  padding-left: 30px;
}
.about-img img{
  padding-top: 50px;
}
.about-content p {
    margin-bottom: 30px;
}
.about-content span{
  display: block;
  padding-left: 30px;
  padding-bottom: 20px;
  position: relative;
}
.about-content span:before{
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height:15px;
  background:#34ccff; 
}
.about-content .about-icon i:before{
  font-size: 60px;
}
.signature-section {
    overflow: hidden;
}
.si-text {
    float: left;
    margin-top: 20px;
}
.si-text p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.signature-section img{
  float: right;
}
/*=====================================
0.7 service-area start
=======================================*/
.service-area{
  background: #f5f5f5;
}
.section-title span{
    font-size: 16px;
    color: #34ccff;
}
.section-title h2{
    font-size: 36px;
    font-weight: 700;
    color: #333;
    padding-bottom: 20px;
    margin-bottom: 60px;
    position: relative;
}
.section-title h2:before {
    content: "";
    position: absolute;
    left: 47%;
    bottom: 0;
    width: 60px;
    height: 3px;
    background: #34ccff;
}
.service-single{
  overflow: hidden;
}
.service-single{
  position: relative;
  overflow: hidden;
  transition: all .3s;
  margin-bottom: 30px;
}

.service-content{
    padding: 29px 40px 20px;
    position: absolute;
    left: 0;
    top: 68%;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    background: #142440;
    transition: all .3s;
    opacity:.8;
}

.service-single:hover .service-content{
  top: 0;
 display: flex;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 height: 100%;

}
.service-single:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  background-color: rgba(20, 36, 64, 0.2);
}
.service-content h3{
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  color:#fff;
}
.service-content h3:before {
    content: "\f106";
    position: absolute;
    left: -78px;
    top: -15px;
    font-family: Flaticon;
    font-size: 42px;
    color: #34ccff;
}
.service-content2 h3:before {
    content: "\f107";
    margin-top: 5px;
}
.service-content3 h3:before {
    content: "\f100";
    transform:rotate(45deg);
}
.service-content4 h3:before {
    content: "\f108";
}
.service-content5 h3:before {
    content: "\f10a";
}
.service-content6 h3:before {
    content: "\f10b";
}


.service-content p{
  padding: 15px 0 0px;
  color:#fff;
  line-height: 30px;
}
.service-content a{
  color:#34ccff;
}

.service-area.service-s2 .service-item .service-single {
    background: #fff;
    text-align: center;
    padding: 40px 33px;
}
.service-area.service-s2 .service-item .service-single:before {
  content: none;
}
.service-area.service-s2 .service-item .service-single .service-icon {
    background-color: rgba(52, 203, 255, 0.2);
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    margin: auto;
    margin-bottom: 25px;
}
.service-area.service-s2 .service-item .service-single .service-icon:before {
    content: "";
    background-color: rgba(52, 203, 255, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    left: -5px;
    top: -5px;
    border-radius: 50%;
}
.service-area.service-s2 .service-item .service-single .service-icon i {
    color: #142440;
}
.service-area.service-s2 .service-item .service-single h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.service-area.service-s2 .service-item .service-single p {
    line-height: 30px;
    color: #5d5b5b;
}
/*=======================================
1.6 footer-area start
=========================================*/
.footer-area{
  background: #142440;
}
.footer-top{
  padding: 60px 0;
}
.footer-logo{
  margin-bottom: 30px;
}
.social li a {
    display: block;
    height: 45px;
    width: 45px;
    background: #fff;
    color: #333;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    transition: all .3s;
    margin-top: 5px;
}
.social li a:hover{
  background:#34ccff;
  color:#fff;
}
.footer-top p {
    color: #fff;
    margin-bottom: 30px;
}
.footer-top a{
  color:#fff;
}
.Recent-News-area p{
  margin-bottom: 10px;
}
.Recent-News-area span{
  color:#bbb; 
}
.Recent-News-area span i{
  padding-right: 10px;
  color: #34ccff;
}
.resent-sub{
  margin-bottom: 35px;
}
.instagram ul {
    flex-wrap: wrap;
    margin: 0px -3px;
}

.instagram ul li {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 5px;
    padding: 0px 3px;
}

.instagram ul li img {
    width: 100%;
}
.footer-widget.instagram{
  margin-top: 0;
}
.footer-widget.instagram h3{
  font-size: 25px;
  margin-bottom: 30px;
}
.footer-link ul li a{
  padding-top: 10px;
  display: block;
}
.footer-top h3{
  font-size: 25px;
  color:#fff;
  margin-bottom: 20px;
}

.footer-bottom{
  background: #101e35;
  padding: 30px 0;

}
.footer-bottom-content {
    text-align: center;
}
.footer-bottom-content span{
  color:#fff;
  font-size: 16px;
  text-align: center;
}


/*===================================================
7.0 contact-page-area-start
=======================================================*/

.contact-page-area .contact-map {
  height: 450px;
  margin-top: 100px;
  cursor: pointer;
}

.contact-page-area .contact-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
}

.contact-page-item h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.contact-page-item h3 {
  font-size: 24px;
  color: #666;
  margin-bottom: 10px;
}

.contact-page-item span {
  color: #666;
  display: block;
  padding-bottom: 10px;
}

.contact-page-item .adress {
  margin-bottom: 20px;
}

.contact-page-item .phone {
  margin-bottom: 20px;
}

.contact-area {
  padding-top: 0px;
  padding-bottom: 0;
}

.contact-area h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
.contact-area form,
.contact-area-s2 form {
  overflow: hidden;
  margin: 0 -15px;
}

.contact-area form .half-col,
.contact-area-s2 form .half-col {
  width: 50%;
  float: left;
}

@media (max-width: 600px) {

  .contact-area form .half-col,
  .contact-area-s2 form .half-col {
      width: 100%;
      float: left;
  }
}

.contact-area form div,
.contact-area-s2 form div {
  padding: 0 15px 30px;
}


.contact-area form .submit-btn-wrapper,
.contact-area-s2 form .submit-btn-wrapper {
  padding-bottom: 0;
}

.contact-area form input,
.contact-area-s2 form input,
.contact-area form textarea,
.contact-area-s2 form textarea,
.contact-area-s2 form select {
  background: #f5f5f5;
  height: 50px;
  padding: 6px 15px;
  color: #fff;
  border: 2px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(192, 181, 150, .5);
}

.contact-area select.form-control:not([size]):not([multiple]) {
  height: 50px;
  padding: 6px 15px;
  color: #bbb5a5;
  border: 2px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(192, 181, 150, .5);
  position: relative;
  -webkit-appearance:none;   
  -ms-appearance:none;      
  -o-appearance:none;                 
  appearance:none;
  -moz-appearance: none;
}

.contact-area form input:focus,
.contact-area-s2 form input:focus,
.contact-area form textarea:focus,
.contact-area-s2 form textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}


.contact-area form textarea,
.contact-area-s2 form textarea {
  height: 150px;
  padding: 15px;
}

.contact-validation-active #success,
.contact-validation-active #error {
  width: 100%;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  display: none;
}

.contact-validation-active #loader {
  display: none;
  margin-top: 10px;
}

.contact-section form .submit-btn-wrapper,
.contact-section-s2 form .submit-btn-wrapper {
  padding-bottom: 0;
}

.theme-btn-s3 {
  border-radius: 0;
  text-transform: uppercase;
}

.contact-validation-active .error-handling-messages {
  margin-top: 15px;
}

.contact-validation-active #error {
  background-color: #ff1a1a;
  border-left: 5px solid red;
}

.contact-validation-active label.error {
  color: red;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 5px 0 0 0;
  text-align: left;
  display: block;
}
.theme-btn-s3 {
  background-color:#34ccff;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  padding: 9px 25px;
  border: 2px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  transition: all .3s;
}

.theme-btn-s3:hover {
  background: #31b5e1;
}

/*==========================
page loader
============================*/
.page-loader {
  background-color: #272727;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
}

.page-loader .page-loader-inner {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  border: 4px solid #34ccff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.page-loader .page-loader-inner .inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #34ccff;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}